<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>file server raspberry pi</title>

        <link type="image/png" sizes="96x96" rel="icon" href="https://img.icons8.com/?size=192&id=65371&format=png">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </head>

    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <body>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" name="file" id="upload-input" />
            <input type="submit" id="upload-btn" value="Upload" hidden/>
            <button type="button" id="remove-file" hidden>Remove selected file</button>
        </form>

        <button type="button" id="all-files-btn">See all files</button>

        <div class="see-all"></div>
    </body>

</html>