<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- required meta tags -->
        <meta charset="UTF-8">      
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <meta name="theme-color" content="black" id="meta-theme">
        <meta name="description" content="File server On Raspberry Pi">

        <!-- title -->
        <title>file server raspberry pi</title>

        <!-- favicon -->
        <link type="image/png" sizes="96x96" rel="icon" href="https://img.icons8.com/?size=192&id=65371&format=png">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <!-- Open Graph meta tags when sharing the webpage -->
        <meta property="og:title" content="File server" id="og-meta-title">
        <meta property="og:type" content="website">
        <meta property="og:description" content="File server project ">
        <meta property="og:image" content="https://img.icons8.com/?size=192&id=65371&format=png" id="og-meta-img">
        <meta property="og:url" content="" id="og-meta-url">

        <!--for Apple Safari -->
        <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/?size=192&id=65371&format=png">
        <link rel="apple-touch-icon" type="image/png" href="https://img.icons8.com/?size=192&id=65371&format=png">
        <link rel="apple-touch-startup-image" type="image/png" href="https://img.icons8.com/?size=192&id=65371&format=png">

    </head>

    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <body>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" name="file" id="upload-input" />
            <input type="submit" id="upload-btn" value="Upload" hidden/>
            <button type="button" id="remove-file" hidden>Remove selected file</button>
        </form>

        <div class="wrapper-new-file-handler">
            <label for="checkbox-new-file">Create new file</label>
            <input type="checkbox" id="checkbox-new-file" />
        </div>

        <div class="wrapper-new-file" id="wrapper-new-file" style="display: none;">
            <div class="wrapper-file-names">
                <input type="text" id="fname-input" placeholder="filename"/> | 
                <input type="text" id="file-ext-input" placeholder="extension" width="3em" /> | 
                <button type="button" id="btn-clear-filename">Clear</button>
            </div>

            <textarea id="textarea-new-file" rows="10" cols="50"></textarea>

            <div class="wrapper-btn-action">
                <button type="button" id="btn-send-new-file">Upload</button>
                <button type="button" id="btn-clear-textarea">Clear content</button>
            </div>
        </div>

        <button type="button" id="all-files-btn">See all files</button>

        <div class="see-all"></div>
    </body>

</html>